<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Fabien Potencier" />
        <meta name="description" content="The blog of Fabien Potencier about web technology and the symfony framework" />
        <meta name="language" content="en" />

        <title>{{ .Title }} | Articles - Fabien Potencier</title>

        <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.3.1/build/reset/reset-min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.3.0/build/base/base-min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.3.1/build/fonts/fonts-min.css" />
        {{ $style := resources.Get "css/highlight.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" type="text/css" media="all" href="{{ $style.Permalink }}" />
        {{ $style := resources.Get "css/print.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" type="text/css" media="print" href="{{ $style.Permalink }}" />
        {{ $style := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ $style.Permalink }}" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/sunburst.min.css">
        <link rel="alternate" type="application/rss+xml" title="Fabien Potencier's feed" href="http://feeds.fabien.potencier.org/aidedecamp" />

        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div id="main">
            <div id="content">
                <header>
                    {{ block "header" . }}{{ end }}
                </header>

                <section>
                    <div class="content">
                        {{ block "main" . }}{{ end }}
                    </div>
                </section>
            </div>
            <footer>
                <div id="footer">
                    <ul>
                        <li><img src="/images/license.png" alt="Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 Unported License" /> 2007-2024 <a href="/about.html">Fabien Potencier</a></li>
                        <li><a href="http://feeds.fabien.potencier.org/aidedecamp"><img src="/images/feed.png" alt="feed" /></a></li>
                        <li><a class="github" href="https://github.com/fabpot"><img src="/images/github.png" alt="Follow me on GitHub" /> fabpot</a></li>
                        <li><a class="twitter" href="https://twitter.com/fabpot"><img src="/images/twitter.png" alt="Follow me on Twitter" /> fabpot</a></li>
                        <li><a href="http://symfony.com/"><img class="symfony" src="/images/symfony.svg" alt="Symfony" /></a></li>
                    </ul>
                </div>
            </footer>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/languages/twig.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
